.genre-toggle-container {
  background-color: #232323;
  height: 110px;

  button {
    background: 0;
    border: none;
    height: 57px;
    padding: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border-bottom: 4px solid #232323;

    &.active {
      border-color: #f65261;
    }
  }
}
