@import '../../global.scss';

.movie-details {
    $inline-indent: 60px;
    $poster-height: 486px;
    $poster-width: 324px;
    $poster-margin-right: 53px;

    position: relative;
    padding: 15px $inline-indent 0;
    height: $poster-height;

    &__poster {
        position: absolute;
        width: $poster-width;
        height: $poster-height;
        left: $inline-indent
    }

    &__heading, &__genre, &__overview, &__runtime, &__release-date {
        position: relative;
    }
    
    &__heading, &__runtime, &__release-date, &__overview {
        margin: 0;
    }

    &__genre, &__runtime, &__release-date, &__overview {
        font-style: normal;
    }

    &__heading, &__genre, &__overview {
        left: calc(#{$poster-width} + #{$poster-margin-right});
        width: calc(100% - #{$poster-width} - #{$poster-margin-right});
    }

    &__runtime, &__release-date, &__overview {
        font-weight: 300;
    }

    &__genre, &__overview {
        text-align: start;
        mix-blend-mode: normal;
        opacity: 0.5;
        color: $white-color;
    }

    &__heading {
        display: flex;

        &__title, &__rating {
            line-height: 60px;
            text-transform: uppercase;
            text-align: center;
            font-style: normal;
            font-weight: 300;
            color: $white-color;
            margin: 0;
        }

        &__title {
            font-size: $font-size-xxl;
            letter-spacing: 1px;
            margin-right: 25px;
            max-width: calc(100% - 85px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: min-content;
        }
    
        &__rating {
            font-size: $font-size-xs;
            border: 1px solid $white-color;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }    
    }

    &__genre {
        font-weight: 500;
        font-size: $font-size-s;
        line-height: $line-height-xs;
        margin: 4px 0 30px;
    }

    &__runtime, &__release-date {
        font-size: 24px;
        line-height: 29px;
        color: $dark-indian-red-color;
        position: relative;
    }

    &__release-date {
        margin-right: 51px;
        left: calc(#{$poster-width} + #{$poster-margin-right} );
        width: min-content;
    }

    &__runtime {
        top: -29px;
        right: 30px;
        width: max-content;
        left: calc(#{$poster-width} + #{$poster-margin-right} + 100px);
    }

    &__overview {
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        max-width: 100%;
        max-height: 315px;
        overflow: hidden;
    }
}