.card {
    position: relative;
    list-style-type: none;
    width: 323px;
    height: 500px;
    margin-bottom: 40px;
    margin-right: 24px;

    .poster {
        width: 100%;
        height: 430px;
    }

    .description {
        position: absolute;
        top: 430px;

        .title, .release-date, .genre {
            margin: 0;
            color: #FFFFFF;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            mix-blend-mode: normal;
        }

        .title, .release-date {
            opacity: 0.7;
        }

        .title, .genre {
            text-align: start;
        }

        .release-date, .genre {
            font-size: 14px;
        }

        .title {
            width: 232px;
            font-size: 18px;
            line-height: 22px;
            margin-top: 16px;
        }

        .genre {
            width: 323px;
            opacity: 0.5;
            margin-top: 8px;
            line-height: 17px;
        }

        .release-date {
            text-align: center;
            border: 1px solid #979797;
            border-radius: 4px;
            width: 66px;
            height: 24px;
            position: absolute;
            right: 0;
            bottom: 23px;
            line-height: 24px;
        }
    }

    .more, .settings {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .more {
        padding: 0;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background-color: #2A202D;

        img {
            display: block;
            width: 36px;
            height: 36px;
        }
    }

    .settings {
        background: rgba(35, 35, 35, 0.918051);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 50px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13.5914px);
        border-radius: 4px;
        width: 190px;
        height: 111px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .edit, .delete {
            width: 100%;
            height: 34px;
            background: #F65261;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 50px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(13.5914px);
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }

        .edit {
            margin-top: 24px;
            margin-bottom: 6px;
        }

        .close {
            position: absolute;
            top: 8px;
            right: 12px;
        }
    }
}